/*

[required] {
    background-color: #ff0000;
}

é possível combinar!!!

input [required] {
    background-color: #00ff00;
}

Assim ele vai procurar input que contenha required.

input [type=text] {
    background-color: #0000ff;
}

Para selecionar apenas os inputs com type=text

tenho a possibilidade de selecionar qualquer ítem apenas por seus atributos.

input [name="usuário"] {
    background-color: #009900;
}

É possível selecionar um ítem pelo atributo e pelo valor dentro do atributo. 

*/

a {
    background-color: aquamarine;
}

/* 
Para o caso de selecionar pelo conteúdo do atributo, suponhamos que eu precise de uma parte de um conteúdo.
*/
a[href*="saude"] {
    background-color: #ff0000;
}
a[href*="noticia"] {
    background-color: aqua;
}
/*
com o *= e parte do conteúdo, o seletor vai procurar dentro do atributo a palavra buscada, se encontrar, ele ativa o estilo.
*/

/*
Temos como selecionar ítens que começam com determinado valor.  

a[href*="https"]

Só vão selecionar os itens com https no início.

Para selecionar pelo final do item.

a[href$="html"]

*/
