/*
div {
    background-color: #ff0000;
    width: 200px;
    height: 200px;
    position: fixed;
    right: 0;
    bottom: 0;
    transform: rotate(-90deg)
}
*/
div {
    background-color: #ff0000;
    width: 200px;
    height: 200px;
    margin: auto;
    transform: skew(-10deg ,10deg);
}