body {
    text-align: center;
}

span::before { /*elemento que vem antes do span */
    content: "";
    display: inline-block;
    width: 30px;
    height: 10px;
    background-color: rgba(127, 127, 228, 0.305);
    
}
span::after { /*elemento que vem antes do span */
    content: "";
    display: inline-block;
    width: 30px;
    height: 10px;
    background-color: rgba(127, 127, 228, 0.305);
    
}