.balao {
    background-color: blue;
    display: inline-block;
    color: white;
    padding: 20px;
    border-radius: 20px;
}
.balao::after{
    content:'';
    display:inline-block;
    position:absolute;
    margin-left:45px;
    top: 25px;
    border:20px solid;
    border-color:transparent transparent transparent #0000ff;
}