body {
    text-align: center;
}

div {
    background-color: rgb(161, 161, 230);
    color: white;
    padding: 20px;
    
}

div::before { /*elemento que vem antes do span */
    content: "";
    display: inline-block;
    width: 30px;
    height: 10px;
    background-color: rgba(249, 17, 17, 0.82);
    
}
div::after { /*elemento que vem antes do span */
    content: "";
    display: inline-block;
    width: 30px;
    height: 10px;
    background-color: rgba(249, 17, 17, 0.82);
    
}